[server]
# backend_host
host = "0.0.0.0"
port = 5000

[database]
# blessingskin_database_host
url = "mysql://root:password@example.com:3389/database_name" 

[ssh_info]
# ssh_hosts
hosts = [
  { host = "25.25.25.25", port = 22, username = "root", password = "123456", api = "1" },
  { host = "example.com", port = 22, username = "root", password = "114514", api = "2" }

]

[cos_s3]
bucket = ""
region = ""
endpoint = ""
access_key = ""
secret_key = ""
